# Analysing Ebay Car Sales

Analysis of a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.


### Data dictionary:
dateCrawled : when this ad was first crawled, all field-values are taken from this date

name : "name" of the car

seller : private or dealer

offerType

price : the price on the ad to sell the car

abtest

vehicleType

yearOfRegistration : at which year the car was first registered

gearbox

powerPS : power of the car in PS

model

kilometer : how many kilometers the car has driven

monthOfRegistration : at which month the car was first registered

fuelType

brand

notRepairedDamage : if the car has a damage which is not repaired yet

dateCreated : the date for which the ad at ebay was created

nrOfPictures : number of pictures in the ad (unfortunately this field contains everywhere a 0 and is thus useless (bug in crawler!) )

postalCode

lastSeenOnline : when the crawler saw this ad last online

The fields lastSeen and dateCreated could be used to estimate how long a car will at least be online before it is sold.

## Import initial libraries

In [56]:
import pandas as pd
import numpy as np
import os
from IPython.display import display
os.getcwd()

'C:\\Users\\hp\\OneDrive\\Desktop\\DataScience\\Projects\\Explore_EbayCarSales'

In [57]:
os.listdir('C:\\Users\\hp\\OneDrive\\Desktop\\DataScience\\Projects\\Explore_EbayCarSales')

['.git', '.ipynb_checkpoints', 'analyze_ebay_sales.ipynb', 'autos.csv']

In [58]:
autos=pd.read_csv(r'autos.csv',
                  encoding = "ISO-8859-1",low_memory=False)
display(autos.head())
autos.info()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

## Change column names from CamelCase to preferred snake_case

In [59]:
cols={'yearOfRegistration':'registration_year', 'monthOfRegistration':'registration_month',
     'notRepairedDamage':'unrepaired_damage', 
     'dateCreated':'ad_created', 'offerType':'offer_type','vehicleType':'vehicle_type',
     'gearbox':'gear_box','powerPS':'power_ps', 'fuelType':'fuel_type',
     'dateCrawled':'date_crawled','nrOfPictures':'nr_of_pictures', 'postalCode':'postal_code',
      'lastSeen':'last_seen'}
autos.rename(columns=cols,inplace=True)
display(autos.head())

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gear_box,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

## Data Exploration

In [60]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gear_box,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-21 20:37:19,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [61]:
# Get a Dictionary containing the pairs of column names & data type objects.
dataTypeDict = dict(autos.dtypes)
display(dataTypeDict)

{'date_crawled': dtype('O'),
 'name': dtype('O'),
 'seller': dtype('O'),
 'offer_type': dtype('O'),
 'price': dtype('O'),
 'abtest': dtype('O'),
 'vehicle_type': dtype('O'),
 'registration_year': dtype('int64'),
 'gear_box': dtype('O'),
 'power_ps': dtype('int64'),
 'model': dtype('O'),
 'odometer': dtype('O'),
 'registration_month': dtype('int64'),
 'fuel_type': dtype('O'),
 'brand': dtype('O'),
 'unrepaired_damage': dtype('O'),
 'ad_created': dtype('O'),
 'nr_of_pictures': dtype('int64'),
 'postal_code': dtype('int64'),
 'last_seen': dtype('O')}

##  Investigate columns of interest

###  date_crawled
format convert to date

In [62]:
from datetime import datetime,date
display(autos['date_crawled'].unique)

<bound method Series.unique of 0        2016-03-26 17:47:46
1        2016-04-04 13:38:56
2        2016-03-26 18:57:24
3        2016-03-12 16:58:10
4        2016-04-01 14:38:50
                ...
49995    2016-03-27 14:38:19
49996    2016-03-28 10:50:25
49997    2016-04-02 14:44:48
49998    2016-03-08 19:25:42
49999    2016-03-14 00:42:12
Name: date_crawled, Length: 50000, dtype: object>

remove 'ell' ; not a datetime object

In [63]:
autos['date_crawled']=autos[autos.date_crawled != 'ell']

In [64]:
autos['date_crawled']=pd.to_datetime(autos['date_crawled']).dt.date
display(autos['date_crawled'].head())

0    2016-03-26
1    2016-04-04
2    2016-03-26
3    2016-03-12
4    2016-04-01
Name: date_crawled, dtype: object

###  registration_year
format and convert to date

In [65]:
display(autos['registration_year'].unique)

<bound method Series.unique of 0        2004
1        1997
2        2009
3        2007
4        2003
         ...
49995    2011
49996    1996
49997    2014
49998    2013
49999    1996
Name: registration_year, Length: 50000, dtype: int64>

In [66]:
autos['registration_year']=pd.to_datetime(autos['registration_year']).dt.date
autos['registration_year']

0        1970-01-01
1        1970-01-01
2        1970-01-01
3        1970-01-01
4        1970-01-01
            ...
49995    1970-01-01
49996    1970-01-01
49997    1970-01-01
49998    1970-01-01
49999    1970-01-01
Name: registration_year, Length: 50000, dtype: object

### ad_created column
format and convert to date

In [67]:
autos['ad_created'].unique

<bound method Series.unique of 0        2016-03-26 00:00:00
1        2016-04-04 00:00:00
2        2016-03-26 00:00:00
3        2016-03-12 00:00:00
4        2016-04-01 00:00:00
                ...
49995    2016-03-27 00:00:00
49996    2016-03-28 00:00:00
49997    2016-04-02 00:00:00
49998    2016-03-08 00:00:00
49999    2016-03-13 00:00:00
Name: ad_created, Length: 50000, dtype: object>

In [68]:
strings=autos['ad_created'].astype(str)
new_strings=[]
for string in strings:
    new_string=string.replace('/','-')
    new_strings.append(new_string)

autos['ad_created']= new_strings
autos['ad_created'].unique

<bound method Series.unique of 0        2016-03-26 00:00:00
1        2016-04-04 00:00:00
2        2016-03-26 00:00:00
3        2016-03-12 00:00:00
4        2016-04-01 00:00:00
                ...
49995    2016-03-27 00:00:00
49996    2016-03-28 00:00:00
49997    2016-04-02 00:00:00
49998    2016-03-08 00:00:00
49999    2016-03-13 00:00:00
Name: ad_created, Length: 50000, dtype: object>

In [69]:
autos['ad_created']=pd.to_datetime(autos['ad_created']).dt.date

In [70]:
autos['ad_created'].head()

0    2016-03-26
1    2016-04-04
2    2016-03-26
3    2016-03-12
4    2016-04-01
Name: ad_created, dtype: object

###  last_seen column
format and convert to date

In [71]:
autos['last_seen'].unique

<bound method Series.unique of 0        2016-04-06 06:45:54
1        2016-04-06 14:45:08
2        2016-04-06 20:15:37
3        2016-03-15 03:16:28
4        2016-04-01 14:38:50
                ...
49995    2016-04-01 13:47:40
49996    2016-04-02 14:18:02
49997    2016-04-04 11:47:27
49998    2016-04-05 16:45:07
49999    2016-04-06 21:18:48
Name: last_seen, Length: 50000, dtype: object>

In [72]:
last_seens=autos['ad_created'].astype(str)
new_last_seens=[]
for i in last_seens:
    new_last_seen=i.replace('/','-')
    new_last_seens.append(new_last_seen)

autos['last_seen']= new_last_seens
autos['last_seen']=pd.to_datetime(autos['last_seen']).dt.date
autos['last_seen'].unique

<bound method Series.unique of 0        2016-03-26
1        2016-04-04
2        2016-03-26
3        2016-03-12
4        2016-04-01
            ...
49995    2016-03-27
49996    2016-03-28
49997    2016-04-02
49998    2016-03-08
49999    2016-03-13
Name: last_seen, Length: 50000, dtype: object>

### odometer column

In [73]:
autos['odometer'].value_counts()

150,000km    32424
125,000km     5170
100,000km     2169
90,000km      1757
80,000km      1436
70,000km      1230
60,000km      1164
50,000km      1027
5,000km        967
40,000km       819
30,000km       789
20,000km       784
10,000km       264
Name: odometer, dtype: int64

In [74]:
autos=autos[~autos.isin([np.nan, np.inf, -np.inf]).any(1)]
autos=autos.replace([np.inf, -np.inf], np.nan).dropna(axis=1)

In [75]:
kilometers=[]
for string in autos['odometer']:
    string=string.replace('km','')
    string=string.replace(',','')
    kilometers.append(string)
autos['odometer']=kilometers
autos['odometer'].value_counts()

150000    21620
125000     3946
100000     1637
90000      1390
80000      1171
70000       997
60000       969
50000       864
40000       676
30000       643
20000       606
5000        341
10000       187
Name: odometer, dtype: int64

In [76]:
autos['odometer']=pd.to_numeric(autos['odometer'], errors='coerce')
autos['odometer']=autos['odometer'].astype(float)

In [77]:
autos['price']=autos['price'].str.replace('$','')
autos['price']=autos['price'].str.replace(',','')
autos['price']=pd.to_numeric(autos['price'], errors='coerce')
autos['price']=autos['price'].astype(float)
autos['price'].value_counts()

1500.0     482
500.0      475
0.0        458
2500.0     417
1200.0     381
          ...
3080.0       1
3122.0       1
19100.0      1
2880.0       1
18430.0      1
Name: price, Length: 2151, dtype: int64

## Exploring price by brand

In [78]:
brands=autos['brand'].value_counts()
display(brands)

volkswagen       7239
bmw              4097
opel             3592
mercedes_benz    3587
audi             3208
ford             2339
renault          1591
peugeot          1050
fiat              832
seat              665
skoda             641
nissan            562
mazda             521
citroen           496
toyota            488
smart             438
hyundai           372
mini              368
volvo             351
mitsubishi        280
kia               276
honda             272
alfa_romeo        246
porsche           245
suzuki            225
chevrolet         201
chrysler          136
dacia             107
jeep               88
land_rover         83
daihatsu           81
subaru             74
saab               62
jaguar             59
daewoo             49
rover              41
lancia             34
trabant            32
lada               19
Name: brand, dtype: int64

German manufacturers represent four out of the top five brands, almost 50% of the overall listings. Volkswagen is by far the most popular brand, with approximately double the cars for sale of the next two brands combined.

There are lots of brands that don't have a significant percentage of listings, so we will limit our analysis to top 10 brands

In [79]:
top_10_brands=brands.index[:10]
display(top_10_brands)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat'],
      dtype='object')

In [80]:
autos['price'].value_counts()

1500.0     482
500.0      475
0.0        458
2500.0     417
1200.0     381
          ...
3080.0       1
3122.0       1
19100.0      1
2880.0       1
18430.0      1
Name: price, Length: 2151, dtype: int64

In [81]:
mean_price_by_brands={}
for brand in top_10_brands:
    the_brand=autos[autos['brand']== brand]
    mean_price=the_brand['price'].mean()
    mean_price_by_brands[brand]=int(mean_price)
mean_price_by_brands

{'volkswagen': 6340,
 'bmw': 9077,
 'opel': 6819,
 'mercedes_benz': 9452,
 'audi': 10443,
 'ford': 9505,
 'renault': 2854,
 'peugeot': 3411,
 'fiat': 3216,
 'seat': 4887}

In [82]:
brand_prices = pd.Series(mean_price_by_brands)
pd.DataFrame(brand_prices, columns=["mean_price"])

               mean_price
volkswagen           6340
bmw                  9077
opel                 6819
mercedes_benz        9452
audi                10443
ford                 9505
renault              2854
peugeot              3411
fiat                 3216
seat                 4887


Of the top 10 brands, there is a distinct price gap:

Audi,Ford, BMW and Mercedes Benz are more expensive
Volkswagen and Opel are less expensive

## Exploring mileage by brand

In [83]:
brand_mean_mileage={}
for brand in top_10_brands:
    my_brand=autos[autos['brand']== brand]
    mean_mileage=my_brand['odometer'].mean()
    brand_mean_mileage[brand]=int(mean_mileage)
brand_mean_mileage

{'volkswagen': 126386,
 'bmw': 131670,
 'opel': 127626,
 'mercedes_benz': 129880,
 'audi': 126494,
 'ford': 122986,
 'renault': 125895,
 'peugeot': 124919,
 'fiat': 113756,
 'seat': 119007}

In [84]:
mean_mileage = pd.Series(brand_mean_mileage).sort_values(ascending=False)
mean_prices = pd.Series(mean_price_by_brands).sort_values(ascending=False)

### Brands against mileage and price

In [85]:
brand_price_mileage = pd.DataFrame(mean_mileage,columns=['mean_mileage'])
display(brand_price_mileage )

               mean_mileage
bmw                  131670
mercedes_benz        129880
opel                 127626
audi                 126494
volkswagen           126386
renault              125895
peugeot              124919
ford                 122986
seat                 119007
fiat                 113756

In [86]:
brand_price_mileage['mean_prices']=mean_prices
display(brand_price_mileage )

               mean_mileage  mean_prices
bmw                  131670         9077
mercedes_benz        129880         9452
opel                 127626         6819
audi                 126494        10443
volkswagen           126386         6340
renault              125895         2854
peugeot              124919         3411
ford                 122986         9505
seat                 119007         4887
fiat                 113756         3216

The range of car mileages does not vary as much as the prices do by brand. There is a slight trend to the more expensive vehicles having higher mileage, with the less expensive vehicles having lower mileage

## Analysis next steps:
Find the most common brand/model combinations

How much cheaper are cars with damage than their non-damaged counterparts?

Split the odometer into groups, and use aggregation to see if average prices follows any patterns based on the milage.

In [87]:
combinations=[]
for index, row in autos.iterrows():
    brand=row[10]
    model=row[14]
    combinations.append(tuple((brand,model)))
combinations=pd.Series(combinations)

In [88]:
combinations.value_counts()

(golf, volkswagen)      2797
(3er, bmw)              2123
(polo, volkswagen)      1155
(corsa, opel)           1107
(passat, volkswagen)    1047
                        ...
(rangerover, rover)        1
(b_max, ford)              1
(200, audi)                1
(freelander, rover)        1
(charade, daihatsu)        1
Length: 287, dtype: int64

Golf volkswagen is the most common model,brand combination

In [89]:
autos.head(2)

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gear_box,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,1970-01-01,manuell,158,andere,150000.0,3,lpg,peugeot,nein,2016-03-26,0,79588,2016-03-26
1,2016-04-04,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1970-01-01,automatik,286,7er,150000.0,6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-04

In [90]:
autos['unrepaired_damage'].value_counts()

nein    31207
ja       3840
Name: unrepaired_damage, dtype: int64

In [91]:
with_damages=autos[autos['unrepaired_damage']=='ja']
without_damages=autos[autos['unrepaired_damage']=='nein']

In [92]:
with_damages_avg_price=with_damages['price'].mean()
without_damages_avg_price=without_damages['price'].mean()

In [93]:
print(with_damages_avg_price)
print('\n')
print(without_damages_avg_price)

2587.30546875


8040.001089499151

Cars with unrepaired damages are approximately $6,000 cheaper compared to those without

In [94]:
autos['odometer']=autos['odometer'].astype(int)
autos['odometer'].value_counts()

150000    21620
125000     3946
100000     1637
90000      1390
80000      1171
70000       997
60000       969
50000       864
40000       676
30000       643
20000       606
5000        341
10000       187
Name: odometer, dtype: int64

In [95]:
mileages=[]
for mileage in autos['odometer'].to_list():
    if mileage<=50000:
        mileages.append('Low')
    elif mileage>50000 and mileage<=100000:
        mileages.append('Medium')
    else:
        mileages.append('High')
autos['Mileage']=mileages

In [96]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gear_box,power_ps,...,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen,Mileage
0,2016-03-26,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,1970-01-01,manuell,158,...,150000,3,lpg,peugeot,nein,2016-03-26,0,79588,2016-03-26,High
1,2016-04-04,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1970-01-01,automatik,286,...,150000,6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-04,High
2,2016-03-26,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,1970-01-01,manuell,102,...,70000,7,benzin,volkswagen,nein,2016-03-26,0,35394,2016-03-26,Medium
3,2016-03-12,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,1970-01-01,automatik,71,...,70000,6,benzin,smart,nein,2016-03-12,0,33729,2016-03-12,Medium
4,2016-04-01,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,1970-01-01,manuell,0,...,150000,7,benzin,ford,nein,2016-04-01,0,39218,2016-04-01,High

In [99]:
autos.groupby('Mileage').mean()['price']

Mileage
High       5128.143354
Low       20059.314139
Medium    10252.548507
Name: price, dtype: float64

Cars with high mileage tend to be cheaper than those whose mileages are low and medium